.repeater-item {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.repeater-item select,
.repeater-item input {
    margin-right: 10px;
}

.remove-repeater-item {
    background-color: #dc3232;
    color: #fff;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    height: 40px;
    border-radius: 5px;
}

#add-repeater-item, button#repeater-add {
   border: none;
}
.wrap.static-theme h1 {
    color: #C89E86;
    font-size: 25px;
}
.wrap.static-theme a.nav-tab {
    background: #C89E86;
    color: #fff;
    padding: 5px 25px;
    border: none;
    margin: 0 10px 0 0;
    border-radius: 5px 5px 0 0;
    font-size: 16px;
}
.wrap.static-theme h2.nav-tab-wrapper {
    border-bottom: 1px solid #C89E86;
}
.wrap.static-theme input, .wrap.static-theme select {
    height: 40px;
    border: 1px solid #C89E86;
}
.wrap.static-theme .button-primary, .wrap.static-theme button {
    background: #C89E86;
    color: #fff;
    font-size: 15px;
    font-weight: 500;
    height: 40px;
    border-radius: 5px;
    padding: 0 20px;
}
table.table.footer-setting img, table.table.heaader-setting img {
    border: 1px solid #c89e86;
    padding: 10px;
}